@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.form{
    font-family: 'Open Sans', sans-serif;
    color:#FFFFFF;
    font-size: 20px;
  padding-top: 14rem;
    padding-right: 8rem;
   
}
.form input{
    padding: 0.5rem 2.5rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    width: 15rem;
}
.form label{
    font-family: 'Open Sans', sans-serif;
    width: 15rem;

}
.set{
    display: flex;
    flex-direction: row;
}
.check
{
    height: 2rem;
}
.btn{
    background-color: #D4E41B;
    font-family: 'Open Sans', sans-serif;
    width: 35%;
    height: 10%;
    font-size: 1rem;
    margin-top: 1rem;
   margin-left: -6rem;
}
