@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.ticket
{
    font-family: 'Open Sans', sans-serif;
    font-style: condensed Bold;
    font-size: 3rem;
    align-items: left;
    color:#FFFFFF ;
padding-left: 2rem;
    margin-top: 2rem;
   
   
}
.para
{
    font-family: 'Open Sans', sans-serif;
   width: 69%;
    color: #EEEEEE;
    font-style: normal;
    padding-left: 3.3rem;
}
.img
{
    width: 100%;
    display: block;
  
}