@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans:wght@700&family=Poiret+One&display=swap');

.header img {
    position: absolute;
}

.img1 {
    width: 100%;
    z-index: 1;
    height: 100vh;
}

.logo {
    padding: 3rem 2rem;
    z-index: 2;
}

.bg {
    z-index: 3;
    width: 100%;
    margin-top: 5rem;
}

.container {
    position: relative;
    color: white;
}

.container h1 {
    position: absolute;
    z-index: 4;
    top: 24rem;
    left: 33%;
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    color: #EEEEEE;
}

.container h2{
    position: absolute;
    z-index: 5;
    top: 30rem;
    left: 40%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #E2E709;
}

.container h3{
    position: absolute;
    z-index: 5;
    top: 38rem;
    left: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    color: #EEEEEE;
}

.sponsors{
    position: absolute;
    top: 40rem;
}

.sponsors img{
    width: 100%;
    z-index: 6;
}

.bg2{
    position: absolute;
}