.App {
  height: 10rem;
  align-self: center;
}
.header--container {
  position: relative;
  display: flex;
}
.header--logo {
  justify-content: center;
}
.App--page1 {
  padding: 40px;
  background-color: black;
  height: 100vh;
}
.header--menu {
  position: absolute;
  right: 50px;
}
.header--element {
  padding: 10px;
}
.App--hero {
  position: relative;
}
.hero--img {
  position: relative;
}
.hero--text {
  position: absolute;
  left: 470px;
  z-index: 1;
  transition: "1s, transform 2s";
  transform: scale(1.5);
}
.hero--img1 {
  position: absolute;
  left: 500px;
}
.hero--crowd1 {
  position: absolute;
  top: 300px;
}
