.App {
  display: block;
  height: 10rem;
  align-self: center;
}
.header--container {
  position: relative;
  display: flex;
  padding: 40px;
}
.header--logo {
  justify-content: center;
}
.App--page1 {
  background-color: black;
  height: 1000px;
}
.header--menu {
  position: absolute;
  right: 50px;
}
.header--element {
  padding: 10px;
}
.App--hero {
  display: block;
  position: relative;
}
.hero--img {
  position: relative;
}
.hero--text {
  position: absolute;
  left: 32vw;
  /* transition: "1s, transform 2s";
  transform: scale(1.5); */
}
.hero--img1 {
  position: absolute;
  left: 32vw;
}
.hero--crowd1 {
  position: absolute;
  top: 350px;
}
.hero--crowd2 {
  position: absolute;
  top: 450px;
}
.hero--crowd3 {
  position: absolute;
  top: 638px;
}
.App--page2 {
  display: flex;
}
.card--container {
  width: 25%;
  padding: 8px;
  margin: 20px;
  background-color: #e2e1d3;
}
#drop{
  background-color: rgba(0,0,0,0.8);
  color:white;
  font-size: 35px;
  padding: 0px 50px;
  position: absolute;
  width: 92vw;
  top: 0px;
  left: 0px;
  display: none;
  animation-name: none;
  animation-duration: 4000s;

}
@keyframes dropp {
  0%{ height: 0vh; }
  0.04%{ height: 100vh;}

}
